
/* ARQUIVO QUIE NAO EXISTE NO FRAMEWORK BOOTSTRAP */

/* criacao da variavel right */
.right-0 {
    right: 0PX;
}

.right-25 {
    right: 25PX;
}

.right-50 {
    right: 50PX;
}

.right-75 {
    right: 75PX;
}

.right-100 {
    right: 100PX;
}


/* criacao da variavel left */

.left-0{
    left: 0px;
}

.left-25{
    left: 25px;
}

.left-50{
    left: 50px;
}

.left-75{
    left: 75px;
}

.left-100{
    left: 100px;
}


